# Database Configuration Template
# Salin file ini menjadi .env dan sesuaikan dengan kredensial database Anda.

# Jenis database yang digunakan: 'postgres', 'mysql', atau 'mssql' / 'sqlsrv'
DB_TYPE=postgres

# IP Private atau Host database Anda (Gunakan Private IP dari Cloud SQL jika dideploy ke Cloud Run)
DB_HOST=127.0.0.1

# Port default: 5432 untuk Postgres, 3306 untuk MySQL, 1433 untuk SQL Server
DB_PORT=5432

# Username database
DB_USER=postgres

# Password database
DB_PASS=mysecretpassword

# Nama database yang ingin diuji
DB_NAME=postgres
